* {
    padding: 0px;
    margin: 0px;
}

body,html {
    height: 100vh;
    width: 100vw;
    background-color: beige;
}

body {
    background: url(imagens/background-m.png) no-repeat top center;
    background-attachment: fixed;
    background-size: cover;

}

main {
    position: relative;
    height: 100vh;
}

div#smartphone {
    width: 444px;
    height: 928px;
    
    background-image: url(imagens/galaxys9-front-pp.png);
    background-repeat: no-repeat;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* iframe {
    background-color: transparent;
    width: 391px;
    height: 801px;
    border-radius: 30px;
    margin-top: 53px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.icones {
    width: 30px;
    height: 30px;
} */